<footer>
    <div class="tm-black-bg">
      <div class="container">
        <div class="row margin-bottom-60">
          
          <div class="col-lg-5 col-md-5 tm-footer-div">
            <h3 class="tm-footer-div-title">About Us</h3>
            <p class="margin-top-15">Taste the autentic coffe brought for you from all around the world</p>
            <p class="margin-top-15">We provide best quality product to our customers.</p>
          </div>
          <div class="col-lg-4 col-md-4 tm-footer-div">
            <h3 class="tm-footer-div-title">Get Social</h3>
            <p>You may follow ous on our social media by clicking the below icons.</p>
            <div class="tm-social-icons-container">
              <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
              <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
              <a href="#" class="tm-social-icon"><i class="fa fa-linkedin"></i></a>
              <a href="#" class="tm-social-icon"><i class="fa fa-youtube"></i></a>
              
            </div>
          </div>
        </div>          
      </div>  
    </div>      
    <div>
      <div class="container">
        <div class="row tm-copyright">
         <p class="col-lg-12 small copyright-text text-center">Copyright &copy; 2084 Hardik's Cafe</p>
       </div>  
     </div>
   </div>
 </footer>